body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #0f0f0f;
    color: #a8a5a0;
    text-align: left;

    padding: 2rem 5vw;

}
h1 {
    margin-bottom: 15vw;
    color: #8c3e3e;
    font-size: clamp(1rem, 4vw, 2.5rem);
}
.description {
    font-size: clamp(0.9rem, 2.25vw, 2rem);
    text-align: right;
    padding: 1.5vh 1vw;
    border-radius: 5rem;
    margin: 0;
}
.click {
    margin: 2.5vw 0;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
}
.list {
    font-size: clamp(0.9rem, 2.2vw, 1.65rem);
}
.list a{
    color: #a8a5a0;
}
.list a:hover {
    color: #8c3e3e;
}
.table table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}