<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/style.css" href="/css/foundation.css">
		<title>Alcohol</title>
	</head>
	<body>
		<div class="page">
			<h1>Alcohol Consumption</h1>
			<P class="description">
				This site contains data on alcohol usage across different types of drinks and countries.
				The dataset was collected in 2010 and can be found in fivethirtyeight.com.
			</P>
			<img  width="50%" src="https://images.unsplash.com/photo-1694221798653-6e790e2450a1?mark=https:%2F%2Fimages.unsplash.com%2Fopengraph%2Flogo.png&mark-w=64&mark-align=top%2Cleft&mark-pad=50&h=630&w=1200&crop=faces%2Cedges&blend-w=1&blend=000000&blend-mode=normal&blend-alpha=10&auto=format&fit=crop&q=60&ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNzMyNTc2Mzc0fA&ixlib=rb-4.0.3">
			<p class="click">Click to see details: </p>
			<ul class="list">
				$$$DRINKS_LIST$$$
			</ul>
		</div>
	</body>
</html>
