<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css" href="/css/foundation.css">
		<title>Alcohol</title>
	</head>
	<body>
        <header>
            <a href="/">Back to main</a>
        </header>
		<div class="page">
			<h1>Spirits</h1>
			<P class="description">
				This site contains data on spirits usage.
			</P>
			<table class="table">
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Spirits</th>
                    </tr>
                </thead>
                <tbody>
                    $$$SPIRITS_TABLE$$$
                </tbody>
            </table>
		</div>
	</body>
</html>